name: Build

concurrency:
  group: build
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Build Plugins
        run: |
          chmod +x gradlew && ./gradlew make generateUpdaterJson --no-watch-fs

          mkdir builds
          cp plugins/*/build/outputs/*.zip build/outputs/updater.json builds

      - name: Push Builds
        run: |
          cd builds
          git init

          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

          git remote add origin "https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git fetch --depth 1 --filter=blob:none origin builds || false && git reset FETCH_HEAD

          git add -- .
          git commit -m "Build $GITHUB_SHA" || exit 0
          git push origin HEAD:builds